body {
  margin: 0;
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}
.main-content {
  overflow: auto;
  height: 100%;
}
.app-bar {
  position: absolute;
}
#app {
  width: 100%;
}
h1 {
  @include mdc-typography(headline1);
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem 0 2rem;
}
h2 {
  @include mdc-typography(headline2);
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin: 1rem 0 2rem;
}
h3 {
  @include mdc-typography(headline2);
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 1rem 0 2rem;
}
p {
  @include mdc-typography(body1);
  margin: 1rem 0 2rem;
}
.mdc-drawer-app-content {
  height: 100%;
}

@media (max-width: $width-sm) {
  .mdc-layout-grid__cell:first-child {
    grid-column-start: 1;
  }
}

@media (min-width: $width-sm) and (max-width: $width-md) {
  .mdc-layout-grid__cell:first-child {
    grid-column-start: 3;
  }
}

@media (min-width: $width-md) {
  .mdc-layout-grid__cell:first-child {
    grid-column-start: 5;
  }
}

.mdc-layout-grid__inner {
  .mdc-layout-grid__inner {
    .mdc-layout-grid__cell:first-child {
      grid-column-start: 1;
    }
  }
}

.mdc-top-app-bar {
  background-image: url('./assets/topapp-bg.png');
  background-size: 50%;
  background-position: 50%;
}

.mdc-drawer .mdc-list-item {
  height: auto !important;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: $width-lg) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
