$mdc-theme-primary: #880e4f;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-primary-light: #bc477b;
$mdc-theme-on-primary-light: #ffffff;

$mdc-theme-primary-dark: #560027;
$mdc-theme-on-primary-dark: #ffffff;

$mdc-theme-secondary: #880e4f;
$mdc-theme-on-secondary: #ffffff;

$mdc-theme-secondary-light: #bc477b;
$mdc-theme-on-secondary-light: #ffffff;

$mdc-theme-secondary-dark: #560027;
$mdc-theme-on-secondary-dark: #ffffff;

$width-sm: 480px; // Small screen / phone
$width-md: 840px; // Medium screen / tablet
$width-lg: 1200px; // Large screen / desktop
